.referrals {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    margin-left: 80px;
  }
  
  .title {
    margin-bottom: 1rem;
  }
  
  .desc {
    margin-bottom: 1rem;
  }
  
  .referralCodeContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    border-radius: 20px;
    border: none;
    padding: 20px;
    &.light {
      background-color: var(--line);
    }
    &.dark {
      background-color: var(--dark2);
    }
  }
  
  .referralCode {
    display: flex;
    flex-direction: row; 
    gap: 2rem; 
    align-items: center; 
    width: 100%;
  }
  
  .inputWithButton {
    display: flex;
    flex-direction: row; 
    gap: 0.5rem;
    align-items: center; 
  }
  
  .labelReferralLink,
  .labelReferralCode {
    display: flex;
    flex-direction: column; 
    gap: 0.3rem;
    align-items: flex-start;
    width: 100%;
  }
  
  .input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    &.light {
      background-color: var(--white);
      color: var(--on-surface);
    }
  
    &.dark {
      background-color: var(--dark2);
      color: var(--surface);

    }
  }
  
  .copyBtn {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .wallet {
    margin-top: 1rem; 
    align-self: flex-start;
  }
  .desc2{
    font-weight: 700;
    color : var(--success);
  }
  .emailRow {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .mailIcon {
    width: 20px;
    height: 20px;
  }