.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    font-size: 14px;
    height: 50px;
  }
  
  .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .icon {
    cursor: pointer;
  }
  
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }