* {
  font-family: "DM Sans", sans-serif;
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
}

html[data-theme='light'] {
    --white: #ffffff;
    --on-surface: #23262F;
    --primary : #3772FF;
    --secondary : #777e90;
    --secondary2 : #B1B5C3;
    --dark : #141416;
    --success : #58BD7D;
    --critical:#D33535;
    --line : #E5E5E5;
    --stroke : #E6E8EC;
    --surface : #F7F7F7;
    --interactive : #2E72D2;
    --warning : #FABE3C;
    --highlight : #1E58C8;
    --decorative: linear-gradient(90deg, #383FDE, #8444D4);
    --dark2 : #18191D;
    --gray : #3C404B;
  }
  
  html[data-theme='dark'] {
    --bg: #141416;
    --on-surface: #23262F;
    --primary : #3772FF;
    --secondary : #777E90;
    --secondary2 : #B1B5C3;
    --white: #ffffff;
    --success : #58BD7D;
    --critical:#D33535;
    --line : #E5E5E5;
    --stroke : #E6E8EC;
    --surface : #F7F7F7;
    --interactive : #2E72D2;
    --warning : #FABE3C;
    --highlight : #1E58C8;
    --decorative: linear-gradient(90deg, #383FDE, #8444D4);
    --dark2 : #18191D;
    --gray : #3C404B;
    --dark-hover : #222630;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--text);
    transition: background-color 0.3s, color 0.3s;
  }
  a {
    text-decoration: none;
  }
